<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Daigassou.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" /></startup>
    <userSettings>
        <Daigassou.Properties.Settings>
            <setting name="StartKey" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="IsEightKeyLayout" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinEventMs" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="MinChordMs" serializeAs="String">
                <value>125</value>
            </setting>
            <setting name="NtpServer" serializeAs="String">
                <value>ntp3.aliyun.com</value>
            </setting>
            <setting name="AutoChord" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HotKeyBinding" serializeAs="String">
                <value>[{"Name":"Start","Key":121,"Modifiers":2,"Enabled":true},{"Name":"Stop","Key":122,"Modifiers":2,"Enabled":true},{"Name":"PitchUp","Key":119,"Modifiers":2,"Enabled":true},{"Name":"PitchDown","Key":120,"Modifiers":2,"Enabled":true}]</value>
            </setting>
            <setting name="UpgradeRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsBeta" serializeAs="String">
                <value>False</value>
            </setting>
        </Daigassou.Properties.Settings>
    </userSettings>
  <appSettings>
    <add key="EnableWindowsFormsHighDpiAutoResizing" value="false" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
